
/* Base Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F8F4E3;
    margin: auto;
}

h1 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;

}

h2 {
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

.link {
    color: #2A2B2A;
    margin: 5px;
    padding: 10px;
    background: rgb(235, 207, 156);
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-radius: 5px;
}

.about-content,
.music-section,
.shows-section,
.merch-section {
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
}

.about-content {
    padding-left: 15%;
    padding-right: 15%;
}

.about-wrapper {
    padding-top: 50px;
}

.main-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.songs {
    border: solid black;
    box-shadow: 0 0 17px rgba(0, 0, 0, .7);
    border-radius: 3px;
}

.main-footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px;
    background: rgb(235, 207, 156);
}

.footer-wrapper {
    padding-left: 15%;
    padding-right: 15%;
}

.top-border {
    border-top: 1px solid rgba(0, 0, 0, 0.33);
}

/* banner and image styles */

.main-header {
    background:
        linear-gradient(rgba(109, 24, 18, 0.5), transparent),
        linear-gradient(0deg, #F8F4E3, transparent),
        url('../img/stage.jpg') no-repeat center;
    background-size: cover;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: grayscale(45%);
    opacity: 0.66;
}

.member-img {
    filter: grayscale(85%);
    filter: brightness(26%);
    filter: saturate(45%);
    filter: blur(30%);
    width: 200px;
    border: solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.band-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(85%);
    filter: brightness(116%);
    filter: saturate(120%);
    width: 70%;
    border: solid, black;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.slideshow {
    display: none;
}

/* Band IMG Fading */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/* nav styles */
 
.main-nav {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 75px;
}

.main-nav li,
.shows-flex li {
    border: solid rgba(0, 0, 0);
    border-radius: 5px;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* flexbox styles */

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.main-nav,
.shows-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.member {
    border: solid rgba(0, 0, 0, 0.75);
    text-align: center;
    margin: 25px auto;
    padding: 10px;
    background: rgb(235, 207, 156);
    box-shadow: 0 0 15px rgba(0, 0, 0, .7);
    border-radius: 10px;
    flex-basis: 200px;
    font-size: 18px;
}

.member-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.song-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

/* media queries */

@media (min-width: 424px) {
 
    .main-nav {
        flex-direction: row;
    }
}

@media (min-width: 768px) {

    h1 {
        font-size: 38px;
        width: 30%;
    }

    .tagline {
        font-size: 36px;
        width: 30%;
    }

     .logo {
        width: 40%;
    } 

    .member-content {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width: 1023px) {

    .about-content {
        padding-top: 50px;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .member-content {
        padding-left: 10%;
        padding-right: 10%;
    }
}
